*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif ;
}

.container{
  width: 100vw;
  min-height: 100vh;
  background-color: #f3f7f7;
  transition: 500ms;
}

.dark{
  background: linear-gradient(to top, #131B23 10%, #21323E 100%);
}