*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif ;
}

.container{
  width: 100vw;
  min-height: 100vh;
  background-color: #f3f7f7;
  transition: 500ms;
}

.dark{
  background: radial-gradient(circle at 85.4% 50.8%, rgb(24, 52, 54) 0%, rgb(23, 42, 53) 74.2%);
}